/* @font-face {
  font-family: "Raiderfont";
  src: local("Raiderfont"), url("../fonts/Raiderfont.ttf") format("truetype");
} */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.indexbody {
  font-family: "Lato", sans-serif !important;
  font-size: 12px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* UTILITIES  */
ul {
  list-style: none;
}

.sub-heading {
  font-size: 8rem;
  font-weight: 300;
  padding: 3rem 0;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #fff;
}

/* LEFT/RIGHT */

.left,
.right {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.left {
  background: #181818;
  left: 0%;
  width: 0%;
}

.right {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.37)), to(rgba(0, 0, 0, 0.37))),
    url("../images/toronto.jpeg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)),
    url("../images/toronto.jpeg") no-repeat center center/cover;
  right: 0%;
  width: 100%;
}

/* NAVBAR */
.navbar {
  font-family: "Lato" !important;
  font-weight: 300;
}

.nav-item {
  font-size: 1.4rem;
}

.logo {
  font-size: 5rem;
  font-family: "Arizonia", sans-serif;
}

/* CONTENT */

.img-wrapper {
  position: absolute;
  bottom: 0;
  left: 18rem;
}

.img-wrapper .karina {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))),
    url("../images/skudra.jpeg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/skudra.jpeg") no-repeat center center/cover;
  height: 55rem;
  width: 0;
  border-radius: 3px;
}

.info {
  position: absolute;
  bottom: 0;
  left: 18rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
}

.info ul li {
  display: inline-block;
  padding: 2rem 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8rem;
  font-weight: 600;
}

.info i {
  font-size: 1.8rem;
}

.text {
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text h1 {
  font-size: 8.3rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 5px;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  text-transform: uppercase;
}

.text-p {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}

.name {
  position: absolute;
  top: 50%;
  left: -27rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 8.3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

/* BOTTOM NAV */

.bottomnav {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.bottomnav ul li {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 15px;
  margin-top: 20px;
}

.bottomnav ul li:nth-child(2) {
  font-weight: 400;
}

.bottomnav ul li:nth-child(2)::before {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  width: 6.5rem;
  margin: 0 10px 0 -78px;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

/* WORK PAGE */
.workbody {
  background: #181818;
  color: #fff;
  overflow-x: hidden;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.one {
  background: url(../images/one.jpg) no-repeat center center/cover;
  height: 50vh;
}
.two {
  background: url(../images/two.jpg) no-repeat center center/cover;
  height: 50vh;
}

.three {
  background: url(../images/three.jpg) no-repeat center center/cover;
  height: 50vh;
}
.four {
  background: url(../images/four.jpg) no-repeat center center/cover;
  height: 50vh;
}
.five {
  background: url(../images/five.jpg) no-repeat center center/cover;
  height: 50vh;
}
.six {
  background: url(../images/six.jpg) no-repeat center center/cover;
  height: 50vh;
}
.seven {
  background: url(../images/seven.jpg) no-repeat center center/cover;
  height: 50vh;
}
.eight {
  background: url(../images/eight.jpg) no-repeat center center/cover;
  height: 50vh;
}
.nine {
  background: url(../images/nine.jpg) no-repeat center center/cover;
  height: 50vh;
}
.ten {
  background: url(../images/ten.jpg) no-repeat center center/cover;
  height: 50vh;
}
.eleven {
  background: url(../images/eleven.jpg) no-repeat center center/cover;
  height: 50vh;
}
.twelve {
  background: url(../images/twelve.jpg) no-repeat center center/cover;
  height: 50vh;
}

.thirteen {
  background: url(../images/thirteen.jpg) no-repeat center center/cover;
  height: 50vh;
}

.fourteen {
  background: url(../images/fourteen.jpg) no-repeat center center/cover;
  height: 50vh;
}

.fifteen {
  background: url(../images/fifteen.jpg) no-repeat center center/cover;
  height: 50vh;
}

.sixteen {
  background: url(../images/sixteen.jpg) no-repeat center center/cover;
  height: 50vh;
}

.image-slider {
  z-index: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.image-slide {
  height: 100vh;
  margin: 0 auto;
}

.slick-slide.slick-center {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: -webkit-transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99), -webkit-transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.slick-slide {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: -webkit-transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99), -webkit-transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.slider-control {
  margin: 0%;
  position: absolute;
  z-index: 2;
  bottom: 8%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  color: #fff;
  background: none;
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  border-radius: 50%;
  margin: 0.4em;
  display: inline-block;
}

button:focus {
  outline: none;
}

.block-1 {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 5%;
  left: 0%;
  background: #0f0f0f;
}

.block-2 {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 25%;
  left: 25%;
  background: #0f0f0f;
}

.block-3 {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 5%;
  right: 0%;
  background: #0f0f0f;
}

.overlay {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 20%;
  left: 5%;
  background: rgba(0, 0, 0, 0.65);
}

.text-slider-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 45%;
}

.text-slider {
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

.text-slide h1 {
  color: #fff;
  font-size: 64px;
  font-family: "Cinzel";
  font-weight: lighter;
  text-transform: uppercase;
  padding-left: 10%;
}

@media (max-width: 990px) {
  .block-2,
  .overlay {
    display: none;
  }

  .block-1 {
    width: 50%;
  }

  .block-3 {
    width: 12%;
  }

  .slide-slick {
    display: none !important;
  }

  .text-slide h1 {
    font-size: 30px !important;
  }

  .text-slider-wrapper {
    position: absolute;
    top: 60% !important;
  }

  .slider-control {
    left: 22.5%;
  }
}

/* CONTACT PAGE*/
#contact {
  margin-top: 5rem;
}
.contactbody {
  background: #181818;
  color: #fff;
  overflow-x: hidden;
}

#contact-form {
  margin: 5% 0;
}

.contact-col {
  margin: auto;
}

.contact-lite {
  font-weight: 300;
}

.contact .icon-title {
  margin-top: 1rem;
  color: #000;
}

#contact-form ul {
  list-style: none;
  margin-bottom: 4rem;
  border-radius: 0;
  padding: 0;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 2.2rem;
  color: rgb(97, 97, 97);
}

.btn {
  font-size: 1.3rem;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  resize: vertical;
  background: transparent;
  color: #101010;
  font-weight: 300;
}

input:focus {
  outline: none !important;
  border: none !important;
}

textarea:focus {
  outline: none !important;
  border: none !important;
}

.textarea {
  border-bottom: 1px solid #c9c9c9;
}

@media (max-width: 900px) {
  #contact-form {
    margin: 5% 0;
    width: 98%;
  }
}

/* ABOUT PAGE */
.aboutbody {
  background: #181818;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.hero {
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.329)), to(rgba(0, 0, 0, 0.322))),
    url("../images/about.jpeg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.322)),
    url("../images/about.jpeg") no-repeat center center/cover;
  position: relative;
}

#hero-title {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.aboutcontent {
  margin: 50px 0;
  width: 65% !important;
}

@media (max-width: 900px) {
  .content {
    width: 90% !important;
  }
}

.aboutcontent {
  margin: auto;
  margin-top: 3rem;
}

.aboutcontent p {
  font-weight: 300;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

/* FOOTER */
#footer {
  padding: 6rem 0;
}
#footer p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
}

/* -----------------------
MEDIA QUERIES
----------------------- */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .karina {
    display: none;
  }

  .text h1 {
    font-size: 4rem;
  }

  .text-p {
    font-size: 1.5rem;
  }

  .text {
    margin-left: 3rem;
  }

  .name,
  .info {
    display: none;
  }

  .sub-heading {
    font-size: 4rem;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .karina {
    display: none;
  }

  .text h1 {
    font-size: 5rem;
  }

  .text-p {
    font-size: 1.7rem;
  }

  .text {
    margin-left: 3rem;
  }

  .name,
  .info {
    display: none;
  }

  .sub-heading {
    font-size: 4rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
  .karina {
    display: none;
  }

  .text h1 {
    font-size: 4rem;
  }

  .text-p {
    font-size: 1.5rem;
  }

  .name,
  .info {
    display: none;
  }

  .sub-heading {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 812px) and (max-height: 375px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .karina {
    display: none;
  }

  .text h1 {
    display: none;
  }

  .text-p {
    display: none;
  }

  .text {
    margin-left: 3rem;
  }

  .name,
  .info {
    display: none;
  }

  .sub-heading {
    font-size: 4rem;
  }

  .bottomnav ul li a {
    font-size: 0.9rem;
  }
}

/* Landscape for Ipad Pro*/

@media only screen and (min-width: 1366px) and (max-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* 
  ##Device = Desktops
  ##Screen = 1441px to higher resolution desktops
*/

@media (min-width: 1441px) {
}
